<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{title}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Elements</li>
        </ol>
      </nav>

      <section class="section">
        <div style="width: auto;">

          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Détails de l'article</b></h3>
                
                <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
                   <div class="row" >
                        <div class="mb-3 col">
                            <label class="form-label">Code</label>
                            <input  type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" [disabled]="!!id">
                         </div>
                        
                        <div class="mb-3 col">
                            <label class="form-label">Nom</label>
                            <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                <div *ngIf="f.nom.errors.required">Le nom est obligatoire</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Prénom</label>
                            <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
                            <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                                <div *ngIf="f.prenom.errors.required">Le prénom est obligatoire</div>
                            </div>
                        </div>

                        <div class="mb-3 col">
                            <label class="form-label">Date d'nniversaire</label>
                            <input type="date" formControlName="dateAnniversaire" class="form-control"/>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Téléphone</label>
                            <input type="number" formControlName="telephone" class="form-control" />                           
                        </div>

                        <div class="mb-3 col">
                            <label class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control"  />
                        </div>

                        <div class="mb-3 col">
                            <label class="form-label">Adresse</label>
                            <input type="email" formControlName="adresse" class="form-control"/>
                        </div>
                        
                    </div>
                  
                    <div *ngIf="id" class="row">
                        <div class="mb-3 col">
                            <label class="form-label"> actif</label>
                            <mat-slide-toggle formControlName="actif"></mat-slide-toggle>
                        </div>
                    </div>
                    
                    <br>
                    <div class="mb-3">
                        <button [disabled]="submitting" class="btn btn-primary">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Enregistrer
                        </button>
                        <a routerLink="/client" class="btn btn-link">Annuler</a>
                    </div>
                </form>
                <div *ngIf="loading" class="text-center m-5">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<section *ngIf="id"  class="section">
<form  [formGroup]="formInvoices" (ngSubmit)="getInvoices()">
    
        <div class="row">
                <div class="mb-3 col">
                    <label class="form-label">Date inferieure</label>
                    <div class="col-sm-10">
                        <input type="date" formControlName="dateInferieure" class="form-control"  />
                    </div>
            </div>
            
            <div class="mb-3 col">
                <label class="form-label">Date superieure</label>
                <div class="col-sm-10">
                    <input type="date" formControlName="dateSuperieure" class="form-control" />
                </div>
            </div>
        </div>
        <button class="btn btn-primary" >
            Valider
        </button>
       
    </form> 
    <div style="width: auto;">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><b>Liste des Achats</b></h3>
          <div class="row">
            <div class="mb-3 col">
               
            </div>
            
            <div class="mb-3 col">
                Montant total payé : <b>{{montantTotalPaye}} {{entreprise.monnaie}}</b>
            </div>
            
            <div class="mb-3 col">
                Montant total de remise : <b>{{montantTotalremise}} {{entreprise.monnaie}}</b>
            </div>
        </div>
          <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 20%">code facture</th>
                    <th style="width: 20%">Montant total</th>
                    <th style="width: 20%">Remise</th>
                    <th style="width: 20%">Montant payé</th>
                    <th style="width: 10%">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let InvoiceOfCustomer of listInvoiceOfCustomer">
                    <td style="width: 20%">{{InvoiceOfCustomer.code}}</td>
                    <td style="width: 20%">{{InvoiceOfCustomer.montantTotal}}</td>
                    <td style="width: 20%">{{InvoiceOfCustomer.remise}}</td>
                    <td style="width: 20%">{{InvoiceOfCustomer.montantAPayer}}</td>
                    <td style="width: 25%">{{InvoiceOfCustomer.date | date:'dd-MM-yyyy: hh:mm'}}</td>
                    <td><button class="btn btn-success" (click)="invoiceInfo(InvoiceOfCustomer.id!)">Détails</button></td>
                
                    
                </tr>
                <tr *ngIf="!listInvoiceOfCustomer">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
          </table>
        <br><br>
            
        </div>
    </div>
</div>
</section>

    </div><!-- End Page Title -->

    