<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{title}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Accueil</a></li>
          <li class="breadcrumb-item"> <a href="/articles/articleType">Catégories d'artcles</a></li>
          <li class="breadcrumb-item active">Ajouter</li>
        </ol>
      </nav>

      <section class="section">
        <div style="width: auto;">

          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Détails du type d'article</b></h3>
                
                <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
                   
                    <div class="row" >
                        <div *ngIf="id" class="mb-3 col">
                            <label class="form-label">Code</label>
                            <input type="text" value class="form-control" [value]="articleTypeAddOrEdit.code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" disabled>
                            </div>
                        
                        <div class="mb-3 col">
                            <label class="form-label">Nom</label>
                            <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                <div *ngIf="f.nom.errors.required">Le nom est obligatoire</div>
                            </div>
                        </div>

                    </div>
                  
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label"> actif</label>
                            <mat-slide-toggle formControlName="actif"></mat-slide-toggle>
                        </div>
                    </div>
                   
                    <div class="row"> <div class="mb-3 col">
                        <label class="form-label">description</label>
                        <textarea rows="4"   formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <!--<div *ngIf="f.description.errors.required">Email is required</div>-->
                        </div>
                    </div>
                       
                       
                    </div>
                    <br>
                    <div class="mb-3">
                        <button [disabled]="submitting" class="btn btn-primary">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Enregistrer
                        </button>
                        <a routerLink="/users" class="btn btn-link">Annuler</a>
                    </div>
                </form>
                <div *ngIf="loading" class="text-center m-5">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </div>
            </div>
        </div>
    </div>
</section>

    </div><!-- End Page Title -->

    