<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{title}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Accueil</a></li>
          <li class="breadcrumb-item"><a href="articles">Articles</a></li>
          <li class="breadcrumb-item active">Ajouter</li>
        </ol>
      </nav>

      <section class="section">
        <div style="width: auto;">

          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Détails de l'article</b></h3>
                
                <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div >
                        <img  width="200" height="200" class="rounded-circle" [src]="functionPhoto()" style=" float: left;">
                    </div>
                    <div class="row" >
                        <div class="mb-3 col">
                            <label class="form-label">Code</label>
                            <input *ngIf="id"  type="text" value class="form-control" [value]="articleAddOrEdit.code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" disabled>
                            <input *ngIf="!id" type="text" maxlength="120" value class="form-control" formControlName="code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" >
                         </div>
                        
                        <div class="mb-3 col">
                            <label class="form-label">Nom</label>
                            <input type="text"  maxlength="120"formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                <div *ngIf="f.nom.errors.required">Le nom est obligatoire</div>
                            </div>
                        </div>
                        
                    
                        <div class="mb-3 col">
                            <label class="form-label">Code bar</label>
                            <input *ngIf="id"  maxlength="120" type="text" value class="form-control" [value]="articleAddOrEdit.codeBar" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" disabled>
                             <input *ngIf="!id" type="text" formControlName="codeBar" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codeBar.errors }" />
                        </div>
                    
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Type d'article</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" select [name]="" id="" formControlName="idTypeArticle" 
                                    [ngClass]="{ 'is-invalid': submitted && f.idTypeArticle.errors }">
                                    <option *ngFor="let articleType of articleTypes" [value]="articleType.id">{{articleType.nom }}</option>
                                </select>
                                <div *ngIf="submitted && f.idTypeArticle.errors" class="invalid-feedback">
                                    <div *ngIf="f.idTypeArticle.errors.required">Le prix de vente est obligatoire</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Prix de vente</label>
                            <input type="number" formControlName="prixVente" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prixVente.errors }" />
                            <div *ngIf="submitted && f.prixVente.errors" class="invalid-feedback">
                                <div *ngIf="f.prixVente.errors.required">Le prix de vente est obligatoire</div>
                            </div>
                        </div>

                            <div class="mb-3 col">
                                <label class="form-label">Tva</label>
                                <input max="100" min="0" type="number" formControlName="tva" class="form-control"  />
                               
                            </div>

                       
                    
                    </div>

                   
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Stockable</label>
                            <mat-slide-toggle formControlName="achat"></mat-slide-toggle>
                        </div>
                    </div>
                    <div *ngIf="articleAddOrEdit.achat" class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Quantité en stock</label>
                            <input *ngIf="id"  type="text" class="form-control" [value]="articleAddOrEdit.stock" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" disabled>
                            
                            <input *ngIf="!id" type="number" formControlName="stock" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }" />
                            <div  *ngIf="submitted && f.stock.errors" class="invalid-feedback">
                                <div *ngIf="f.stock.errors.required">Le nom d'utilisateur est obligatoire</div>
                            </div>
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label">Quantité de stock minimale avant alerte</label>
                            <input type="number" formControlName="stockMin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stockMin.errors }" />
                            <div *ngIf="submitted && f.stockMin.errors" class="invalid-feedback">
                                <div *ngIf="f.stockMin.errors.required">Le nom d'utilisateur est obligatoire</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label"> actif</label>
                            <mat-slide-toggle formControlName="actif"></mat-slide-toggle>
                        </div>
                    </div>
                    <!--<div *ngIf="articleAddOrEdit.achat" class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Prix de revient</label>
                            <input type="number" formControlName="prixAchat" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prixAchat.errors }" />
                        </div>
                    </div>-->
                    <div class="row"> <div class="mb-3 col">
                        <label class="form-label">description</label>
                        <textarea rows="4" maxlength="120"  formControlName="description" class="form-control" ></textarea>
                        
                    </div>
                        <label class="form-label">
                            <div *ngIf="id"> Changer de photo</div>
                            <div *ngIf="!id"> Charger une photo photo</div>
                        </label>
                        <div class="row">
                            <div class="col-8">
                            <label class="btn btn-default p-0">
                                <input class="form-control" type="file" accept="image/*" (change)="selectFile($event)" />
                            </label>
                            </div>
                        </div>
                        
                        
                        
                        <div *ngIf="currentFile && progress" class="progress my-3">
                            <div
                            class="progress-bar progress-bar-info"
                            role="progressbar"
                            attr.aria-valuenow="{{ progress }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: progress + '%' }"
                            >
                            {{ progress }}%
                            </div>
                        </div>
                        
                        <div *ngIf="message" class="alert alert-secondary" role="alert">
                            {{ message }}
                        </div>
                        
                        
                     
                    </div>
                    <br>
                    <div class="mb-3">
                        <button [disabled]="submitting" class="btn btn-primary">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Enregistrer
                        </button>
                        <a routerLink="/users" class="btn btn-link">Annuler</a>
                    </div>
                </form>
                <div *ngIf="loading" class="text-center m-5">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </div>
            </div>
        </div>
    </div>
</section>

    </div><!-- End Page Title -->

    