<h1>Types d'articles</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Ajouter un type d'article</a>

<div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Code</th>
            <th style="width: 15%">Nom</th>
            <th style="width: 15%">Description</th>
            <th style="width: 15%">Actif</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articleType of articlesType">
            <td style="width: 15%">{{articleType.code}}</td>
            <td style="width: 15%">{{articleType.nom}}</td>
            <td style="width: 15%">{{articleType.description}}</td>
            <td style="width: 15%">{{articleType.actif}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{articleType.id}}" class="btn btn-sm btn-primary me-1" style="color: rgb(255, 255, 255);">Modifier</a>
                <!--<button *ngIf="article.actif == false" style="background-color: darkgreen;"  class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="article.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!article.isDeleting">
                
                        <span >
                            Activer
                        </span>
                    </span>
                </button>

                <button *ngIf="article.actif == true"  class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="article.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!article.isDeleting">
                        <span  >
                            Désactiver
                        </span> 
                       
                    </span>
                </button>-->
            </td>
        </tr>
        <tr *ngIf="!articlesType">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
  </table>

  
 

<button (click)="pageChang()" class="btn btn-sm btn-danger btn-delete-user">
    print
   </button>
 
</div>