<div *ngIf="userConnected!.idBox != undefined" >
    <div  *ngIf="actualSession === undefined ">
        <button class="btn btn-primary" (click)="createSession()">Ouvrir une session</button>
    </div>

    <div  *ngIf="actualSession !== undefined && !ouvrirSession">
        <button class="btn btn-warning" (click)="openActiveSession()">Ouvrir la session active (Ouverte le : {{actualSession.dateOuverture | date:'dd-MM-yyyy: hh:mm'}})</button>
    </div>



    <div *ngIf="actualSession !== undefined && ouvrirSession">
       <div>
        <form action="">
            <input type="text">
        </form>
       </div>
        <div style="position: fixed; top: 100px; bottom: 250px; width:60%; background-color: rgb(236, 235, 235);">
            <div class="card-list" style="height: 180%; overflow-y: auto; " >
                <mat-card *ngFor="let article of articles" style="width: 200px; height: 200px;" (click)="ajouterArticle(article.id!, article.nom!,article.prixVente!)">
                <mat-card-header>
                    <mat-card-title>{{ article.nom }}</mat-card-title>
                    <mat-card-subtitle>{{ article.prixVente }} {{entreprise.monnaie}}</mat-card-subtitle>
                    <mat-card-subtitle style="color: green;" *ngIf="article.stock! > article.stockMin! && article.achat == true">{{ article.stock }} restant</mat-card-subtitle>
                    <mat-card-subtitle style="color: red;" *ngIf="article.stock! <= article.stockMin! && article.achat == true">{{ article.stock }} restant</mat-card-subtitle>
                </mat-card-header>
                <img width="200" height="100" mat-card-image [src]="article.photo" alt="Card Image">
                <mat-card-content>
                </mat-card-content>
                </mat-card>
            </div>
        </div>   

        <div class="cart" style="position: fixed; right: 0; top: 60px; width: 27%; bottom: 20px; flex: 1;
        padding: 5px;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
            <main *ngIf="!invoiceActual">
                <button  class="btn btn-success" (click)="creerFacture()">Créer une facturation</button>
                <button  class="btn btn-danger" (click)="closeSession()">Fermer la session</button>
                
            </main>
            <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="validerVente()">
           
            <main *ngIf="invoiceActual">
                <div class="cart">
                <div><b style="font-size: 30px;">Facture</b> </div><br>
                    <label class="form-label">Client</label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="Default select example" select [name]="" id="" formControlName="idClient">
                            <option [value]="1">Aucun</option>
                            <option *ngFor="let client of clients" [value]="client.id">{{client.nom }} {{client.prenom }} ({{client.code}})</option>
                        </select>
                        
                    </div>
                    <div>
                        <ng-select [items]="clients"
                                bindLabel="name"
                                placeholder="Select city"
                                [(ngModel)]="idClient">
                        </ng-select>
                    </div>
                        <div style="height: 60%; overflow-y: auto;">
                            <table > 
                                <tr>
                                    <td style="width: 30%;"> <b>Nom</b> </td>
                                    <td style="width: 20%;"><b>Qté</b></td>
                                    <td style="width: 20%;"><b>Prix</b></td>
                                    <td style="width: 30%;"><b>Montant</b></td>
                                </tr>
                                    <tr style="border: 1px solid black;" *ngFor="let artAVendre of articleAVendre">
                                        <td >{{ artAVendre.nomArticle}}</td>
                                        <td>
                                            <mat-icon color="blue" (click)="retrancherQteArticle(artAVendre.idArticle!)">remove_circle_outline</mat-icon>
                                            <a *ngIf="artAVendre.quantite!<10">0</a>{{ artAVendre.quantite}}
                                            <mat-icon color="blue" (click)="augmenterQteArticle(artAVendre.idArticle!)">add_circle_outline</mat-icon>
                                        </td>
                                        <td>{{ artAVendre.prixUnitaire}}</td>
                                        <td>{{ artAVendre.montant}}</td> 
                                        <td>  <mat-icon color="blue" (click)="supprimerArticle(artAVendre.idArticle!)">clear</mat-icon></td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </main>
            <div *ngIf="invoiceActual" >
                <div class ="row" style="position: fixed;  right: 0; bottom: 110px; width: 27%;">
                    <div class="mb-3 col">
                        <label class="form-label"> Remise</label>
                        <mat-slide-toggle formControlName="remiseBoolean"></mat-slide-toggle>
                    </div>
                    <div  *ngIf="remiseBoolean" class="mb-3 col">
                        <input placeholder="Montant" type="number" formControlName="remise" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prixAchat.errors }" />
                    </div>
                </div>

            
                <div style="position: fixed; right: 0; bottom: 110px; width: 27%;">
                    <div><b style=" right: 0; font-size: 15px;">Total : {{montantTotal}}  {{entreprise.monnaie}}</b></div>
                </div>

                <div style="position: fixed; right: 0; bottom: 80px; width: 27%;">
                    <div><b style=" right: 0; font-size: 20px;">Montant à payer : {{montantAPayer}} {{entreprise.monnaie}}</b></div>
                </div>

            </div>
            
            </form>
            <div *ngIf="invoiceActual" style="width: 27%;">
                <div style="position: fixed; right: 0; bottom: 100px; width: 27%;">
                    
                    <button *ngIf="articleAVendre.length == 0" class="btn btn-danger" style="position: fixed; right: 0; bottom: 40px;" (click)="fermerFacture()">Fermer facture</button>
                    <button *ngIf="articleAVendre.length > 0" class="btn btn-danger" style="position: fixed; right: 0; bottom: 40px;" (click)="viderPanier()"> Vider le panier</button>
                </div>

                <div style="position: fixed; right: 0; bottom: 100px; width: 27%;">
                    <button class="btn btn-success" style="position: fixed; right: 250; bottom: 40px;" (click)="validerVente()">Valider l'achat</button> 
                </div>
            </div>
           
        </div>
    </div>
</div>

<div *ngIf="userConnected!.idBox == undefined" >
    Si vous etes un caissier assurez vous d'etre affecté à un point de vente
</div>